<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
</head>
<body>
    <p><h1><center>Weather of <u><b><i> {{ city }}</i></b></u></center></h1></p>

<hr>
<hr>
        <h3><p> Coordinates: Latitude => <u><b><i> {{coordinate_lo}} </i></b></u>and Longitude => <u><b><i> {{coordinate_la}}</i></b></u></p>
        <p> Main Weather: <u><b><i> {{main_weather}} </i></b></u></p>
        <p> Weather Description: <u><b><i> {{description}} </i></b></u></p>
        <p> Temperature: <u><b><i> {{temp}}K </i></b></u></p>
        <p> Minimum Temperature: <u><b><i> {{temp_min}}K </i></b></u></p>
        <p> Maximum Temperature: <u><b><i> {{temp_max}}K </i></b></u></p>
        <p> Feels Like: <u><b><i> {{feels_like}} </i></b></u></p>
        <p> Pressure: <u><b><i> {{pressure}} </i></b></u></p>
        <p> Humudity: <u><b><i> {{humidity}} </i></b></u></p>
        <p> Wind Speed: <u><b><i> {{wind_speed}} </i></b></u></p>
        <p> Wind Degree: <u><b><i> {{wind_deg}} </i></b></u></p></h3>




</body>
</html>